<h1><%= @list.name() %>'s Tasks </h1>



<% if @list.tasks.any?() %>
<h3>Here are your tasks for this list:</h3>

<ul>
  <% @list.tasks.each() do |task| %>
  <li><% task.list_id() %><%= task.description() %></li>
  <% end %>
</ul>

<% else %>

<p>There are no tasks yet!</p>

<% end %>





<hr>

<!-- <div class="container">
  <a href="/">Home |</a>
  <a href="/lists"> View All Lists |</a>
  <a href="/lists/new"> Add New List |</a>
  <a href="/lists/:id/tasks/new"> Add New Task</a>
</div> -->

<p><a href="/lists/<%= @list.id() %>/edit">Edit <%= @list.name() %> list</a></p>
<p><a href="/">Return to Main Page</a></p>
