<h1><%= @list.name() %>'s Tasks </h1>


<h3>Here are your tasks:</h3>
<% if @list.tasks.any?() %>
<h3>Here are your tasks for this list:</h3>

<ul>
  <% @list.tasks.each() do |task| %>
  <li><% task.list_id() %><%= task.description() %></li>
  <% end %>
</ul>

<% else %>

<p>There are no tasks yet!</p>

<% end %>



<hr>


<h3> Add a task to <%= @list.name() %> </h3>


<form action="/tasks" method="post">
  <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">

  <label for="description">Description of the task:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add task</button>
</form>

<hr>

<div class="container">
  <a href="/">Home |</a>
  <a href="/lists"> View All Lists |</a>
  <a href="/lists/new"> Add New List |</a>
  <a href="/:id/task_form"> Add New Task</a>
</div>
