<h3>Add New Task</h3>

<form action="/tasks" method="post">
  
  <div class="form-group">
    <label class="form-label" for="description">Add a task:</label>
    <input class="form-control" id="description" name = "description" type = "text" placeholder="List Name" autofocus>
    <button type="submit" class= "button btn">Add List</button>
  </div>
</form>
